.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    text-align: center;
    color: $color1;
}
